[submodule "vim/vim/bundle/vim-pathogen"]
	path = vim/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/vim-ctrlp"]
	path = vim/vim/bundle/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-commentary"]
	path = vim/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "tmux/tmux/plugins/tmux-resurrect"]
	path = tmux/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
